@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Mulish", sans-serif;
}

#navegacion {
    background-color: rgb(213, 37, 37);
}

#rafa, #inicio, #estudios, #experiencia {
    color: white;
}
.introduccion {
    display: flex;
    padding-bottom: 5%;
}

.soyrafa {
    color: rgb(213, 37, 37);
    font-size: 300%;
    padding-left: 30%;
    padding-right: 20%;
    padding-top: 5%;
}

.video {
    width: 90%;
    height: 90%;
    padding-right: 10%;
    padding-top: 5%;
}

.intro_1, .intro_2 {
    width: 50%;
}

.titulo {
    text-align: center;
    color: rgb(213, 37, 37);
    font-size: 250%;
}

.descripcion {
    padding-top: 2%;
    text-align: center;
    font-size: 120%;
}

.gustos_1, .gustos_2, .gustos_3, .gustos_4 {
    width: 50%;
}

.flex, .flexup {
    padding-top: 2%;
    display: flex;
}

.gustos_1, .gustos_4 {
    text-align: center;
    align-content: center;
}

.gustos_2 {
    display: block;
    padding-right: 10%;
}

.titgustos {
    color: rgb(213, 37, 37);
    font-size: 250%;
}

.txtgustos {
    font-size: 110%;
    text-align: justify;
}

.gustos_3 {
    display: block;
    padding-top: 5%;
    padding-left: 10%;
}

.imagen {
    width: 70%;
    align-content:  center;
}

.fondorojo {
    background-color: rgb(213, 37, 37) ;
    text-align: center;
    margin-top: 4%;
    padding: 2%;
    font-size: 120%;
}

.maps {
    width: 100%;
}

.divimgcarrousel {
    width: 80%;
    padding-left: 20%;
    margin-top: 10%;
}

.divtexto {
    background-color: rgba(0, 0, 0, 0.538);
}

.link {
    color: white;
    text-decoration: none;

}

.estudios {
    margin-left: 10%;
    margin-right: 10%;
}

.introestudios {
    font-size: 200%;
    color: rgb(213, 37, 37);
    text-align: center;
    padding-bottom: 3%;
}

.cursos {
    font-size: 175%;
    text-align: center;
    padding-bottom: 2%;
}

.cursos_2 {
    font-size: 150%;
    color: rgb(213, 37, 37);
}

.smx, .eso, .infografia, .gimp {
    display: flex;
    padding-bottom: 5%;
}

.cibernaruim {
    width: 100%;
}

.mapsjoan23 {
    width: 100%;
}

.imgciber {
    width: 70%;
    margin: 5%;
}

.smx_1, .eso_1, .infografia_1, .gimp_1, .smx_2, .eso_2, .infografia_2, .gimp_2 {
    width: 50%;
}
.smx_1, .eso_1, .infografia_1, .gimp_1 {
    margin-right: 5%;
}

.smx_2, .eso_2, .infografia_2, .gimp_2 {
    margin-left: 5%;
}

.smx_2, .eso_1, .infografia_2, .gimp_1 {
    text-align: center;
    align-content:  center;
}

.smx_1, .eso_2, .infografia_1, .gimp_2 {
    text-align: justify;
    align-content:  center;
}

@media screen and (max-width:500px ) {
    .introduccion, .flex, .flexup {
        display: block;
    }

    .intro_1, .intro_2 {
        width: 100%;
    }

    .intro_1 {
      text-align: center;
    }

    .soyrafa {
        color: rgb(213, 37, 37);
        font-size: 200%;
        text-align: center;
        padding-top: 5%;
        padding-left: 0%;
        padding-right: 0%;
    }

    .intro_2 {
        text-align: center;
        padding-right: 0%;
        padding-top: 0%;
    }

    .video {
        padding-right: 0%;
        padding-top: 0%;
    }

    .gustos_1, .gustos_2, .gustos_3, .gustos_4 {
        width: 100%;
    }

    .gustos_2 {
        padding-top: 5%;
        padding-right: 4%;
        padding-left: 4%;
        text-align: center;

    }

    .gustos_3 {
        padding-top: 5%;
        padding-right: 4%;
        padding-left: 4%;
        text-align: center;

    }

    .smx_1, .eso_1, .infografia_1, .gimp_1, .smx_2, .eso_2, .infografia_2, .gimp_2 {
        width: 100%;
    }

    .smx, .eso, .infografia, .gimp {
        display: block;
    }
    .smx_1, .eso_1, .infografia_1, .gimp_1 {
        margin-right: 2%;
    }
    
    .smx_2, .eso_2, .infografia_2, .gimp_2 {
        margin-left: 2%;
    }
}