<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/estils.css">
    <link rel="icon" href="../../img/imatge_1.png">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <section class="navegacion">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid" id="navegacion">
              <a class="navbar-brand" href="./index_en.html" id="rafa">Rafael Pascual Llorca</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div id="navegacion_secundaria">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                      <a class="nav-link active" aria-current="page" href="../en/index_en.html" id="inicio">¿Who am I?</a>
                      <a class="nav-link" href="../../view/en/education.html" id="estudios">My Studies</a>
                      <a class="nav-link" href="../../view/en/experience.html" id="experiencia">My Experiences</a>
                    </div>
                </div>
              </div>
            </div>
        </nav>
    </section>
    <section class="estudios">
          <p class="introestudios"><strong>In my live, I've realised a some courses, here you can see my training:</strong></p>
          <div class="academicos">
            <p class="cursos"><strong>Academic Courses</strong></p>
            <p class="cursos_2">Microcomputer Systems and Networks (CFGM)</p>
            <div class="smx">
              <div class="smx_1">
              <p>This academic year is an professional training medium level in computer science with a duration of 2 years, I am still studying this course but I am about to finish it. The reason why I chose this course is because I like computer science and it suits me well for my goal, to do robotics engineering.</p>
              </div>
              <div class="smx_2">
                <p>I am studying this training in Joan XXIII</p>
                <div>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2995.1128636251724!2d2.1047222755977004!3d41.34990049832023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498d64bd023fd%3A0x26089fc39cb352a3!2sJesuitas%20Bellvitge%20-%20Centro%20de%20Estudios%20Joan%20XXIII!5e0!3m2!1sca!2ses!4v1714637153786!5m2!1sca!2ses" class="mapsjoan23" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
            </div>
          </div>
          <p class="cursos_2">Compulsory Secondary Education</p>
          <div class="eso">
            <div class="eso_1">
              <p>I finalized this grade in Joan XXIII</p>
              <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2995.1128636251724!2d2.1047222755977004!3d41.34990049832023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498d64bd023fd%3A0x26089fc39cb352a3!2sJesuitas%20Bellvitge%20-%20Centro%20de%20Estudios%20Joan%20XXIII!5e0!3m2!1sca!2ses!4v1714637153786!5m2!1sca!2ses" class="mapsjoan23" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
            <div class="eso_2">
              <p>This academic year is the course that every professional has taken since it is a mandatory course. My experience with this course was quite good since I was a good student and paid attention, that's the reason that I used to get good grades.</p>
            </div>
          </div>
          <div class="complementarios">
            <p class="cursos"><strong>Complementary courses</strong></p>
            <p class="cursos_2">Online Course: Infographics</p>
            <div class="infografia">
              <div class="infografia_1">
                <p>This complementary course is about learning how to make an infographic, why they are so important and how to attract customers with these tools, the truth is that it has been very useful for me to understand the perspective of the receiver and how to capture their attention.</p>
              </div>
              <div class="infografia_2">
                <p>I finished this course on the Cibernarium website</p>
                <div class="cibernaruim">
                  <a href="https://cibernarium.barcelonactiva.cat/" target="_blank"><img src="../../img/imatge_4.png" alt="No disponible" class="imgciber"></a>
                </div>
              </div>
            </div>
          </div>
          <p class="cursos_2">Online Course: Infographics</p>
          <div class="gimp">
            <div class="gimp_1">
              <p>I finished this course on the Cibernarium website</p>
              <div class="cibernaruim">
                <a href="https://cibernarium.barcelonactiva.cat/" target="_blank"><img src="../../img/imatge_4.png" alt="No disponible" class="imgciber"></a>
              </div>
            </div>
            <div class="gimp_2">
              <p>This complementary course is about learning how to use the GIMP tool, this tool is a photo editing, it's free but this course has taught me many functions that I did not know about, thanks to this course I can do a very successful photo editing.</p>
            </div>
          </div>
    </section>
    <section class="fondorojo">
      <a href="../estudis.html" class="link"><strong>Clica aquí para verlo en Español</p></strong></a> 
  </section>
</body>
</html>