<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estils.css">
    <link rel="icon" href="../img/imatge_1.png">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <section class="navegacion">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid" id="navegacion">
              <a class="navbar-brand" href="../index.html" id="rafa">Rafael Pascual Llorca</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div id="navegacion_secundaria">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                      <a class="nav-link active" aria-current="page" href="../index.html" id="inicio">¿Quien soy yo?</a>
                      <a class="nav-link" href="../view/estudis.html" id="estudios">Mis Estudios</a>
                      <a class="nav-link" href="../view/experiencia.html" id="experiencia">Mis Experiencias</a>
                    </div>
                </div>
              </div>
            </div>
        </nav>
    </section>
    <section class="estudios">
          <p class="introestudios"><strong>En mi vida he realizado tanto cursos académicos, como complementarios, aquí podreis ver mi formación:</strong></p>
          <div class="academicos">
            <p class="cursos"><strong>Cursos académicos</strong></p>
            <p class="cursos_2">Sistemas microinformáticos y redes (CFGM)</p>
            <div class="smx">
              <div class="smx_1">
              <p>Este curso académico es un grado medio de informática con duración de 2 años, aun sigo cursando este curso pero estoy a punto de acabarlo. La razón por la cual escoji este curso es porque me gusta la informática y me viene bien de cara a mi meta, hacer ingeniería robótica.</p>
              </div>
              <div class="smx_2">
                <p>Este grado medio lo estoy cursando en el instituto Joan XXIII</p>
                <div>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2995.1128636251724!2d2.1047222755977004!3d41.34990049832023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498d64bd023fd%3A0x26089fc39cb352a3!2sJesuitas%20Bellvitge%20-%20Centro%20de%20Estudios%20Joan%20XXIII!5e0!3m2!1sca!2ses!4v1714637153786!5m2!1sca!2ses" class="mapsjoan23" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
            </div>
          </div>
          <p class="cursos_2">Educación Secundaria Obligatoria</p>
          <div class="eso">
            <div class="eso_1">
              <p>Este título lo finalize en el instituto Joan XXIII</p>
              <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2995.1128636251724!2d2.1047222755977004!3d41.34990049832023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498d64bd023fd%3A0x26089fc39cb352a3!2sJesuitas%20Bellvitge%20-%20Centro%20de%20Estudios%20Joan%20XXIII!5e0!3m2!1sca!2ses!4v1714637153786!5m2!1sca!2ses" class="mapsjoan23" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
            <div class="eso_2">
              <p>Este curso académico es el curso que todo profesional ha realizado ya que es un curso obligatorio. Mi experiencia con este curso fue bastante buena ya que yo era un buen alumno y ponia atención, por ende el motivo de que solía sacar buenas notas.</p>
            </div>
          </div>
          <div class="complementarios">
            <p class="cursos"><strong>Cursos complementarios</strong></p>
            <p class="cursos_2">Curso online: Infografía</p>
            <div class="infografia">
              <div class="infografia_1">
                <p>Este curso complementario trata de aprender a hacer una inforgrafía, porque son tan importantes y como atraer a los clientes con estas herramientas, la verdad me ha sido muy util para entender la perspectiva el receptor y como poder captar su atención.</p>
              </div>
              <div class="infografia_2">
                <p>Este curso lo finalize en la páguina web de Cibernarium</p>
                <div class="cibernaruim">
                  <a href="https://cibernarium.barcelonactiva.cat/" target="_blank"><img src="../img/imatge_4.png" alt="No disponible" class="imgciber"></a>
                </div>
              </div>
            </div>
          </div>
          <p class="cursos_2">Curso online: GIMP</p>
          <div class="gimp">
            <div class="gimp_1">
              <p>Este curso lo finalize en la páguina web de Cibernarium</p>
              <div class="cibernaruim">
                <a href="https://cibernarium.barcelonactiva.cat/" target="_blank"><img src="../img/imatge_4.png" alt="No disponible" class="imgciber"></a>
              </div>
            </div>
            <div class="gimp_2">
              <p>Este curso complementario trata de aprender a utilizar la herramienta GIMP, esta herramienta es una edición de fotos, a pesar de ser gratuito, este curso me ha enseñado muchas funciones de las que yo desconocia, gracias a este curso puedo hacer una edición de fotos bastante lograda.</p>
            </div>
          </div>
    </section>
    <section class="fondorojo">
      <a href="../view/en/education.html" class="link"><strong>Click here to see it in English</p></strong></a> 
  </section>
  <footer class="navegacion">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid" id="navegacion">
          <a class="navbar-brand" href="../index.html" id="rafa">Rafael Pascual Llorca</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div id="navegacion_secundaria">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="../index.html" id="inicio">¿Quien soy yo?</a>
                  <a class="nav-link" href="../view/estudis.html" id="estudios">Mis Estudios</a>
                  <a class="nav-link" href="../view/experiencia.html" id="experiencia">Mis Experiencias</a>
                </div>
            </div>
          </div>
        </div>
    </nav>
  </footer>
</body>
</html>